.header {
  /* padding: 1rem 0rem 0rem 1rem; */
  margin: 1rem 0rem 0rem 0rem;
  position: fixed;
  top: 5rem;
  display: flex;
  justify-content: flex-start;
}

.list {
  display: flex;
  gap: 1rem;
}

.list a {
  background: linear-gradient(90deg, #0cb3d1, #06c1f0);
  font-family: fantasy;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  text-shadow: 1px 2px black;
  border-radius: 0.5rem;
  text-decoration: none;
  color: white;
}

.list a:hover,
.list a:active,
.list a.active {
  background: linear-gradient(90deg, #024dee, #0400f1);
}
